.board-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.board-card-wrapper {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  scrollbar-width: none;
}

/* 데이터 없을 때 */
.dm-no-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 252px;
}

.dm-no-list-img {
  margin-top: 50px;
  width: 48px;
  height: 48px;
}

.dm-no-list-text {
  color: #a1a1a1;
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
