:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @font-face {
    font-family: "Jalnan";
    src: url("./fonts/Jalnan2TTF.ttf");
  }
  
  .jalnan-font {
    font-family: "Jalnan", sans-serif;
  }
  
  .tall-modal-body {
    height: 80vh; 
    overflow-y: auto; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
  }
  
  .modal-content {
    max-height: 80vh; 
  }
  
  .modal-header {
    display: flex;
    justify-content: center; 
    padding-left: 1rem; 
    padding-right: 1rem;
  }
  
  .modal-title {
    flex: none;
  }
  
  .fixed-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 16px;
  }
  
  .divider {
    border-top: 1px solid #e0e0e0; 
    margin: 12px 0;
  }
  