:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Jalnan';
  src: url('./fonts/Jalnan2TTF.ttf');
}

.jalnan-font {
  font-family: 'Jalnan', sans-serif;
}

.tall-modal-body {
  height: 80vh;
  overflow-y: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.modal-content {
  max-height: 80vh;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal-title {
  flex: none;
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 16px;
}

.divider {
  border-top: 1px solid #e0e0e0;
  margin: 12px 0;
}

/* 추가된 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalStyle {
  position: relative;
  width: 25%;
  height: 80%;
  max-width: 500px;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  animation: fadeIn 0.3s ease-out;
}
